@use 'abstracts/' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


h1 {
    font-family: $fontSBlack;
}

body {
    font-family: $fontReg;
    font-style: normal;
    color: $color-1;
    text-align: center;
}