@use '../../abstracts/' as *;

.navbar {
    postion: absolute;
    height: 208px;
    background: $linearheader;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 60px;
    clip-path: polygon(100% 0%, 100% 80%, 0% 100%, 0% 0%);
    h1 {
        color: #fff;
        font-weight: 800;
        font-size: 3rem;
        align-self: center;
    }
    ul {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        bottom: 65px;
        right:70px;
        li {
            width: 140px;
            height: 40px;
            background: #0D2C99;
            margin: 0 24px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                font-family: $interMenu;
                font-size: 0.8rem;
                color: #FFF;                
            }
            
            
        }
    }
}