// Nunito Bold

// font-family: nunito, sans-serif;

// font-weight: 700;

// font-style: normal;


// Nunito Regular

// font-family: nunito, sans-serif;

// font-weight: 400;

// font-style: normal;


// Nunito Italic

// font-family: nunito, sans-serif;

// font-weight: 400;

// font-style: italic;


// Nunito Bold Italic

// font-family: nunito, sans-serif;

// font-weight: 700;

// font-style: italic;

$fontNun: 'nunito, sans-serif';
$fonBold: 'NunitoBold';

$color-1: blue;