@font-face {
    font-family: 'Nunito';
    src: url(../../assets/fonts/Nunito-Regular.ttf);
}

@font-face {
    font-family: 'NunitoSBlack';
    src: url(../../assets/fonts/Nunito-Black.ttf);
}

@font-face {
    font-family: 'NunitoSans';
    src: url(../../assets/fonts/NunitoSans/NunitoSans-Bold.ttf);
}

@font-face {
    font-family: 'NunitoSansBlack' ;
    src: url(../../assets/fonts/NunitoSans/NunitoSans-Black.ttf);
}

@font-face {
    font-family: 'NunitoReg';
    src: url(../../assets/fonts/NunitoSans/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: 'InterExtra';
    src: url(../../assets/fonts/Inter/static/Inter-ExtraBold.ttf);
}

$fontNun: 'Nunito';
$fonBold: 'NunitoSans';
$fontSBlack : 'NunitoSansBlack';
$fontReg: 'NunitoReg';

$interMenu: InterExtra;


$color-1: blue;
$colorLinear: linear-gradient(75deg, rgb(255, 2, 2),rgba(209, 9, 9, 0.733), rgba(221, 61, 12, 0.671));
$linearheader: linear-gradient(88.94deg, #0D2C99 0.52%, rgb(255, 255, 255) 100%);

