@use '../abstracts/' as *;

footer{
    margin-bottom: 0;
    color: red;
    height: 90px;background: linear-gradient(110deg, rgba(0, 0, 255, 0.959),rgba(238, 130, 238, 0.521), rgba(224, 155, 109, 0.692));
    display: flex;
    align-items: center;
    justify-content: center;
}
